.combo-box {
  -fx-font-family: "Times new Roman", Georgia, Serif;
  -fx-font-size: 11pt;
  -fx-background-color: #ffffff;
}
.button.voltar{
  -fx-background-color: transparent;
  -fx-background-image: url("btn_Voltar.png");
  -fx-pref-height: 30px;
  -fx-pref-width: 30px;
}

.text-field {
    -fx-background-radius: 10;
}
