.button.lupa {
    -fx-background-color: transparent;
    -fx-background-image: url("btn_lupa.png");
    -fx-pref-height: 25px;
    -fx-pref-width: 25px;
}

.button.voltar {
    -fx-background-color: transparent;
    -fx-background-image: url("btn_voltar.png");
    -fx-pref-height: 30px;
    -fx-pref-width: 30px;
}

.text-field {
    -fx-background-radius: 10;
}
